<div class="side-menu">
  <div class="sideMenu">
    <section class="container">
      <div class="aside" name="infoUser" style="padding-bottom:8em;">
        <div [ngClass]="(minMenu == true )?'navbar nav_title':' navbar min_nav_title'" style="border: 0;">
          <a class="site_title"><i class="pi pi-fw pi-cog fa fa-dashboard"></i> <span *ngIf="minMenu">Portal CFDI</span></a>
        </div>
        <div class="clearfix"></div>
        <div *ngIf="minMenu" class="profile">
          <div class="profile_pic">
            <img src="../../../assets/images/user.png" alt="..." class="img-circle profile_img">
          </div>
          <div class="profile_info">
            <span>Bienvenido,</span>
            <h2>{{userName}}</h2>
          </div>
        </div>

      </div>

      <app-menu></app-menu>


    </section>
  </div>
</div>
