
<tr>
  <th>Name</th>
  <th>Country</th>
  <th>Representative</th>
  <th>Date</th>
  <th>Status</th>
  <th>Activity</th>
</tr>
<tr>
  <th>
    <input pInputText type="text" (input)="dt.filter($event.target.value, 'name', 'startsWith')" placeholder="Search by Name" class="p-column-filter">
  </th>
  <th>
    <input pInputText type="text" (input)="dt.filter($event.target.value, 'country.name', 'contains')" placeholder="Search by Country" class="p-column-filter">
  </th>
  <th>
    <p-multiSelect [options]="representatives" placeholder="All" (onChange)="onRepresentativeChange($event)" styleClass="p-column-filter" optionLabel="name">
      <ng-template let-option pTemplate="item">
        <div class="p-multiselect-representative-option">
          <img [alt]="option.label" src="assets/showcase/images/demo/avatar/{{option.value.image}}" width="32" style="vertical-align: middle" />
          <span class="p-ml-1">{{option.label}}</span>
        </div>
      </ng-template>
    </p-multiSelect>
  </th>
  <th>
    <p-calendar (onSelect)="onDateSelect($event)" (onClearClick)="dt.filter('', 'date', 'equals')" [showButtonBar]="true" styleClass="p-column-filter" placeholder="Registration Date" [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>
  </th>
  <th>
    <p-dropdown [options]="statuses" (onChange)="dt.filter($event.value, 'status', 'equals')" styleClass="p-column-filter" placeholder="Select a Status" [showClear]="true">
      <ng-template let-option pTemplate="item">
        <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
      </ng-template>
    </p-dropdown>
  </th>
  <th>
    <input pInputText type="text" (input)="onActivityChange($event)" placeholder="Minimum" class="p-column-filter">
  </th>
</tr>

