<div *ngIf="!initPage" class="back_men" id="menu_pri_conte">
  <div class="content-center">
    <div id="logo_n" class="parpadea img-logo">
      <img src="../assets/image/logo.png" alt="">
    </div>
  </div>
</div>
<div id="page" [style.visibility]="initPage? 'visible' : 'hidden'">
  <div id="app-header" class="p-grid app-container">
    <div class="menu" [ngClass]="{left_menu: true}">
      <p-tieredMenu #adminMenu [model]="MenuItems" [popup]="true"></p-tieredMenu>
      <button #btn type="button" pButton icon="pi pi-fw pi-user"></button>


      <p-panelMenu [model]="sideMenuItems"></p-panelMenu>

    </div>
  </div>
  <!-- Sidebars -->
  <div class="app-container">
    <div id="main">
      <div class="w3-container">
        <ng-template></ng-template>
      </div>
    </div>
  </div>
</div>

