/*
:host {
  color: #fff;
  position: fixed;
  right: auto;
  width: 20%;
  min-width: 250px;
  z-index: 9999;
}

ul {
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  padding-top: 50px;
  list-style: none;
}
*/
