
<p>
  home works!
</p>
<div>
  <header id="app-header" class="p-grid">
    <div id="app-branding" class="p-col-10 p-md-12">
      <div id="app-name">

      </div>
    </div>
  </header>

  <main id="app-content" class="p-main-content">
    <!--<p-growl></p-growl>-->
    <router-outlet></router-outlet>
  </main>
  <footer id="app-footer" class="p-grid p-foot" *ngIf="hasToken">
    <div class="p-col">
      <p class="text-left" i18n="@@angularVersion">
        Version Portal: {{version}}
      </p>
    </div>
  </footer>
</div>
