<div style="width: 100%;">
  <div [@slideInOut]="menuState" id="mySidenav" class="sidenav">
    <app-side-menu #sideMenu (click)="onmenuchange($event)"></app-side-menu>
  </div>
  <div class="mainContainer">
    <!--<p-button (click)="toggleMenu()" icon="pi pi-bars" class="p-button-secondary"></p-button>-->
    <app-top-menu></app-top-menu>

    <div class="ui-g">
      <div class="ui-g">
        <!--<ng-template pTemplate="header">-->
        <app-gestion *ngIf="filterGestion"></app-gestion>
        <app-audit *ngIf="filterAudit"></app-audit>
        <app-conciliation *ngIf="filterConciliation"></app-conciliation>
      </div>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12" >
          <app-panel #panel [items]="tabs" [cols]="cols"></app-panel>
        </div>
      </div>
    </div>
  </div>

</div>

