<div class="p-field p-col-12">
  <div class="p-field p-col-6">
    <p-dropdown placeholder="---">
      <!--<ng-template let-option pTemplate="item">-->
      <!--<span [class]="'customer-badge status-' + option.value">{{option.label}}</span>-->
      <!--</ng-template>-->
    </p-dropdown>
  </div>
</div>
<!--<p-dropdown placeholder="---">-->
<!--<ng-template let-option pTemplate="item">-->
<!--<span [class]="'customer-badge status-' + option.value">{{option.label}}</span>-->
<!--</ng-template>-->
<!--</p-dropdown>-->

<div class="p-field p-col-12">

  <div class="p-field p-col-2">
    <input pInputText type="text" placeholder="RFC Emisor" class="p-column-filter">
  </div>
  <div class="p-field p-col-2">
    <input pInputText type="text" placeholder="RFC Receptor" class="p-column-filter">
  </div>
  <div class="p-field p-col-2">

    <div class="p-field p-col-4">
      <p-calendar placeholder="Fecha desde-hasta envió CFDI" [(ngModel)]="date2" [locale]="es" dateFormat="dd/mm/yy" inputId="spanish"></p-calendar>
    </div>
  </div>
  <div class="p-field p-col-2">
    <input pInputText type="text" placeholder="UUID CFDI" class="p-column-filter">
  </div>
</div>
<div class="p-field p-col-12">
  <p-dropdown placeholder="Tipo de pago">
    <!--<ng-template let-option pTemplate="item">-->
    <!--<span [class]="'customer-badge status-' + option.value">{{option.label}}</span>-->
    <!--</ng-template>-->
  </p-dropdown>
</div>
<div class="p-field p-col-2">
  <p-dropdown placeholder="Forma de pago">
    <!--<ng-template let-option pTemplate="item">-->
    <!--<span [class]="'customer-badge status-' + option.value">{{option.label}}</span>-->
    <!--</ng-template>-->
  </p-dropdown>
</div>
<div class="p-field p-col-2">
  <p-dropdown placeholder="Vigencia">
    <!--<ng-template let-option pTemplate="item">-->
    <!--<span [class]="'customer-badge status-' + option.value">{{option.label}}</span>-->
    <!--</ng-template>-->
  </p-dropdown>

  <div class="p-field p-col-2">
    <input pInputText type="text" placeholder="CPR relacionado" class="p-column-filter">
  </div>

</div>
<div class="p-field p-col-2">
  <p-dropdown placeholder="Respuesta de ">
    <!--<ng-template let-option pTemplate="item">-->
    <!--<span [class]="'customer-badge status-' + option.value">{{option.label}}</span>-->
    <!--</ng-template>-->
  </p-dropdown>
</div>
<div class="p-field p-col-2">

  <input pInputText type="text" placeholder="Versión de CFDI" class="p-column-filter">
</div>
<div class="p-field p-col-2">
  <input pInputText type="text" placeholder="Periodo de pago" class="p-column-filter">
</div>

