.largeInput {
  width: 100%;
}

.buttonsModal {
  text-align: center;
}

/deep/ body .ui-button {
  background-color: #5cb85c;
  border: 1px solid #5cb85c;
}

  /deep/ body .ui-button:enabled:hover {
    background-color: #26B99A;
    color: #ffffff;
    border-color: #26B99A;
  }


/deep/ body .ui-table .ui-table-thead > tr > th {
  color: #20B31D
}

/deep/ body .ui-table .ui-table-tbody > tr {
  color: #20B31D
}
