<div class="nav_menu">
  <nav class="" role="navigation">
    <div class="nav toggle">
      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>
    <div class="nav navbar-nav navbar-right">
      <div style="text-align: right; padding-top:15px">
        <p-menu #menu [popup]="true" [model]="items" class="dropdown-toggle"></p-menu>
        <input type="image" pButton src="../../../../assets/images/img.jpg" class="user-profile" (click)="menu.toggle($event)" />
        <label>Gerencia</label>
      </div>
    </div>    
  </nav>
</div>
